appnope==0.1.3
asgiref==3.6.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.1.0
constantly==15.1.0
cryptography==40.0.1
daphne==4.0.0
decorator==5.1.1
Django==4.1.10
django-appconf==1.0.5
django-autoslug==1.9.8
django-bootstrap4==22.3
django-cleanup==7.0.0
django-formtools==2.4
django-model-utils==4.3.1
django-multiselectfield==0.1.12
django-smart-selects==1.6.0
environs==9.5.0
executing==1.2.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipython==8.10.0
jedi==0.18.2
kavenegar==1.1.2
marshmallow==3.19.0
matplotlib-inline==0.1.6
msgpack==1.0.5
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
progressbar2==4.2.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.14.0
pyOpenSSL==23.1.1
python-dotenv==1.0.0
python-utils==3.4.5
pytz==2022.7.1
redis==4.5.4
requests==2.28.2
service-identity==21.1.0
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
stack-data==0.6.2
swapper==1.3.0
tqdm==4.64.1
traitlets==5.9.0
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.5.0
Unidecode==1.3.6
urllib3==1.26.15
wcwidth==0.2.6
zope.interface==6.0
