{% extends '_base.html' %}
{% load static %}

{% block title %} Change Password {% endblock %}


{% block link %}
    <link href="{% static 'css/register.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Change Password</h1><br>

<div style="text-align:center">
    <form method="post" >
      {% csrf_token %}
          <input name="past_password" type="password" class="feedback-input" placeholder="Past Password" />
          <input name="new_password" type="password" class="feedback-input" placeholder="New password" />
          <input name="re_new_password" type="password" class="feedback-input" placeholder="Repeat New Password" />
          <br>
          <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}