{% extends '_base.html' %}
{% load static %}

{% block title %} Change Password {% endblock %}


{% block link %}
    <link href="{% static 'css/register.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<hr>
<div class="alert alert-primary" role="alert" style="text-align:center">
    Enter your <b><em>Username</em></b> and <b><em>Email</em></b> if there is a user with this
    information, a new password will be sent to your email.
</div><hr><br>
<h1>Change Password</h1><br>

<div style="text-align:center">
    <form method="post" >
      {% csrf_token %}
          <input id="username" name="username" class="feedback-input" placeholder="Username" />
          <input id="email" name="email" type="email" class="feedback-input" placeholder="Email" />
          <br>
          <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}