{% extends '_base.html' %}
{% load static %}

{% block title %} Change Password {% endblock %}


{% block link %}
    <link href="{% static 'css/register.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 style="text-align:center;color:#0D867E">Change Password</h1><br>

<div style="text-align:center">
    <form method="post" >
      {% csrf_token %}
          <input id="email" name="email" type="email" class="feedback-input" placeholder="Email" />
          <input id="new_password" name="new_password" type="password" class="feedback-input" placeholder="New Password" />
          <input id="re_new_password" name="re_new_password" type="password" class="feedback-input"
                 placeholder="Again New Password" />
          <br>
          <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}