  .row {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
  }

  .button {
    background-color: #1E90FF;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 10px 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #006400;
  }

  .field {
    border-radius: 4px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    width: 250px;
  }

  .field:focus {
    outline: none;
    box-shadow: 0px 2px 5px #389396;
  }

.help {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f7f7f7;
  border-left: 5px solid #389396;
  padding: 10px;
  margin-bottom: 20px;
}

.back {
    color: #3083FF;
    text-decoration: none;
    border-bottom: 2px solid #3083FF;
    transition: all 0.3s ease-in-out;
}

.back:hover {
    color: #D0021B;
    border-color: #D0021B;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 46px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 50px;
  left: 90%;
}
.pagination-centered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-centered .step-links {
    display: inline-block;
    padding-left: 0;
    margin: 0 0 10px;
    text-align: center;
}

.pagination-centered .paginate-by {
    display: inline-block;
    margin-left: 20px;
}

.center_p{
    display: grid;
    place-items: center;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.d-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}
.e-link {
    color: green;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}
.s-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}

.d-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}
.e-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: green;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.s-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.d-link:hover:before {
    transform: scaleX(1);
}

.s-link:hover:before {
    transform: scaleX(1);
}

.e-link:hover:before {
    transform: scaleX(1);
}

.e-link:hover{
    color:#79CD06;
    text-decoration: none;
}
.s-link:hover{
    color:#5273EE;
    text-decoration: none;
}

.d-link:hover{
    color: #FF7F7F;
    text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

b{
    color:blue;
}

.r-link {
    color: #185AD5;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}
.r-link:hover{
    color: #185AD5;
    text-decoration: none;
}

.c-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}
.c-link:hover{
    color: black;
    text-decoration: none;
}