section {
    padding: 20px;
    box-shadow: 14px 10px 20px 20px rgb(32, 32, 32, 0.72) ;
    border-radius: 20px;
    background-color: #E6E6E6;
    padding-top: 4rem;
    width: 72%;
    margin: auto;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color:black;
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

details summary::-webkit-details-marker {
  display: none;
}


details summary {
  width: 100%;
  color: black;
  padding: 0.5rem 0;
  border-top: 3px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;

}


details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
  color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    color:#2658CB
}
