.body-payment {
  font-family: 'Segoe UI', sans-serif;
  background-color: #00796B;
  color: #333;
}

.h-head {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
}

.payment-form-wrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.payment-form input[type="text"],
.payment-form input[type="email"],
.payment-form input[type="number"],
.payment-form textarea,
.payment-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #F6F6B2;
  font-size: 16px;
  color: #333333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.payment-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

.payment-form button {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #1F77CE;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #1FC3CE;
}

.wrapper {
  display: flex;
  width: 100%;
}

.get-code {
  margin-left: 20px;
  padding: 4px;
  background-color: #38A24D;
  color: #fff;
  width: 40%;
  margin-top: 10px;
  height: 70% ;
  border-radius: 10px;
}

.get-code:hover {
  background-color: #1FC3CE;
  color:white;
  touch-action: auto;
  text-decoration: none;
}

.label-code {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

.back {
  background-color: #880404;
  color: #fff;
  width: 40%;
  border-radius: 10px;
}

.back:hover {
  background-color: #CF3030;
  color:white;
  touch-action: auto;
}

#timer {
	display: block;
	font-size: 16px;
	margin-top: 20px;
}

.hide {
	display: none !important;
}

.help {
  font-family: Arial, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  color: #676767;
  background-color: #ABF5F2;
  padding: 10px;
  margin-bottom: 20px;
}