* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}


h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  background-color: #f4f4f4;
  color: #333;
  font-size: 1em;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: 2px solid #ccc;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
select:hover {
  background-color: #e9e9e9;
  border-color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-color: #66afe9;
}
input[type="file"] {
  color: #333;
  font-size: 1em;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: 2px solid #ccc;
}

input[type="file"]:hover {
  background-color: #e9e9e9;
  border-color: #999;
}

input[type="file"]:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-color: #66afe9;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.next-btn,
.prev-btn {
  background-color: #085D7F;
  border: none;
  color: #C9DFE8;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.next-btn:hover {
  background-color: #1EA0D6;
  text-decoration: none;
  color: #fff;
}

.prev-btn:hover {
  background-color: #1EA0D6;
  text-decoration: none;
  color: #fff;
}