{% extends '_base.html' %}
{% load static %}

{% block title %} Your Gyms {% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/all_gyms.css' %}" type="text/css">
{% endblock %}

{% block script %}
  <script src="{% static 'js/delete_gym.js' %}"></script>
{% endblock %}

{% block full_content %}
<h1 class="head-list-master">Your Gyms</h1>

<div class="position-list-master"><hr>
<p class="note">If you want to send a notification to the students of the gym <a href="#">click here</a> </p>
  <hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Field</th>
      <th scope="col">Gender</th>
      <th scope="col">Location</th>
      <th scope="col">State</th>
      <th scope="col">Edit</th>
      <th scope="col">Block List</th>
      <th scope="col">Students</th>
      <th scope="col">Delete</th>
      <th scope="col">Empty Gym</th>
    </tr>
  </thead>
  <tbody>
  {% for gym in gyms %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'info_gym' gym.pk %}">{{ gym.name }}</a></td>
      <td>{{ gym.get_field_sport_gym_display }}</td>
      <td>{{ gym.get_gender_display }}</td>
      <td>{{ gym.location }}</td>
      <td>{{ gym.get_state_display }}</td>
      <td><a href="{% url 'update_gym' gym.pk %}" class="e-link">Edit</a></td>
      <td><a href="{% url 'black_list' gym.pk %}" class="black-link">Block List</a></td>
      <td><a href="{% url 'students_gym' gym.pk %}" class="s-link">students</a></td>
      <td><a href="{% url 'delete_gym' gym.pk %}" onclick="gym_delete({{ forloop.counter}});"
             id="delete_gym_{{ forloop.counter }}" class="d-link">Delete</a></td>
      <td><a href="{% url 'remove_all_students' gym.pk %}" class="d-link"
      id="clear_gym_{{ forloop.counter }}" onclick="clear_gym({{ forloop.counter }});">click here</a> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}