{% extends '_base.html' %}
{% load static %}

{% block title %} Gym {{ gym.name }} {% endblock %}

{% block link %}
    <link href="{% static 'css/info_gym.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<section>
  <h1>
    Gym {{ gym.name }}
  </h1><br>
  <details>
    <summary>Name Gym</summary>
    <p>
       Name Gym Is <b>{{ gym.name }}</b> .
    </p>
  </details>
  <details>
    <summary>Master Gym</summary>
    <p>
       Master Gym Is <b>{{ gym.master }}</b> .
    </p>
  </details>
  <details>
    <summary>Field Gym</summary>
    <p>
      Field Gym <b>{{ gym.name }}</b> Is <b>{{ gym.get_field_sport_gym_display }}</b> .
    </p>
  </details>
  <details>
    <summary>Days Work</summary>
    <p>Days Work Gym Is <b>{{ gym.get_days_work_display }}</b> .</p>
  </details>
  <details>
    <summary>Time Working Gym</summary>
    <p>Time Working Gym Is Start Gym <b>{{ gym.time_start_working }}</b> And End <b>{{ gym.time_end_working }}</b> .</p>
  </details>
  <details>
    <summary>Location Gym</summary>
    <p>The province/city of the club is <b>{{ gym.location }}</b> And
      its more precise address is : </p><p><b>{{ gym.address_exact }}</b></p>
  </details>
  <details>
    <summary>Other Information</summary>
    <p>The Capacity of the Gym is <b>{{ gym.capacity_gym }}</b> Person.</p>
    <p>The Gender of the Gym is <b>{{ gym.get_gender_display }}</b> .</p>
    <p>The State of the Gym is <b>{{ gym.get_state_display }}</b> .</p>
    <p>The number of people registered in the club is <b>{{ gym.number_register_person }}</b> people.</p>
    <p>The club tuition is <b>{{ monthly_tuition}}</b> $.</p>
  </details>
</section>
<br><br>


{% endblock %}