{% extends '_base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block link %}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'css/profile.css' %}" type="text/css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
           integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

{% endblock %}

{% block script %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/multiselect-dropdown.js' %}"></script>
{% endblock %}

{% block content %}
<form id="regForm" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ wizard.management_form }}
  <h1>
      {% if wizard.steps.current == '0' %}
            Location :
      {% elif wizard.steps.current == '1' %}
            Select Type User :
      {% elif wizard.steps.current == '2' %}
            Complete Your Information (Master) :
      {% elif wizard.steps.current == '3' %}
            Complete Your Information (Student) :
      {% endif %}
  </h1><br>

  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    {% if wizard.steps.current == '0' %}
      {{ wizard.form.management_form }}
        <h6>{{ wizard.form.province.label }} :</h6>
           {{ wizard.form.province }}
        <h6>{{ wizard.form.name_city.label }} :</h6>
           {{ wizard.form.name_city }}

    {% elif wizard.steps.current == '1' %}
      {{ wizard.form.management_form }}
        <h6>{{ wizard.form.type_user.label }} :</h6>
           {{ wizard.form.type_user }}

    {% elif wizard.steps.current == '2' %}
      {{ wizard.form.management_form }}
        <h6>{{ wizard.form.first_name.label }} :</h6>
           {{ wizard.form.first_name }}

        <h6>{{ wizard.form.last_name.label }} :</h6>
           {{ wizard.form.last_name }}

        <h6>{{ wizard.form.profession.label }} :</h6>
            <select name="2-profession" id="2-profession" multiple onchange="console.log(Array.from(this.selectedOptions).map(x=>x.value??x.text))" multiselect-hide-x="true">
              {% for value, text in form.profession.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
              {% endfor %}
            </select>

        <h6>{{ wizard.form.gender.label }} :</h6>
           {{ wizard.form.gender }}

        <h6>{{ wizard.form.age.label }} :</h6>
           {{ wizard.form.age }}

        <h6>{{ wizard.form.number_phone.label }} : </h6>
            {{ wizard.form.number_phone }}

        <h6>{{ wizard.form.national_code.label }} :</h6>
            {{ wizard.form.national_code }}

        <h6>{{ wizard.form.image_person.label }} : </h6>
            {{ wizard.form.image_person }}

    {% elif wizard.steps.current == '3' %}
      {{ wizard.form.management_form }}
        <h6>{{ wizard.form.first_name.label }} :</h6>
           {{ wizard.form.first_name }}
        <h6>{{ wizard.form.last_name.label }} :</h6>
           {{ wizard.form.last_name }}
        <h6>{{ wizard.form.gender.label }} :</h6>
           {{ wizard.form.gender }}
        <h6>{{ wizard.form.age.label }} :</h6>
           {{ wizard.form.age }}

        <h6>{{ wizard.form.number_phone.label }}</h6>
            {{ wizard.form.number_phone }}
        <h6>{{ wizard.form.national_code.label }}</h6>
            {{ wizard.form.national_code }}
        <h6>{{ wizard.form.favorite_sport.label }} :</h6>
            <select name="3-favorite_sport" id="3-favorite_sport" multiple onchange="console.log(Array.from(this.selectedOptions).map(x=>x.value??x.text))" multiselect-hide-x="true">
              {% for value, text in form.favorite_sport.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
              {% endfor %}
            </select>

        <h6>{{ wizard.form.image_person.label }}</h6>
            {{ wizard.form.image_person }}

    {% endif %}
    <div style="overflow:auto;">
      <div style="text-align:center;margin-top:20px">
        {% if wizard.steps.prev %}
          <button formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Previous</button>
          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">Next</button>
        {% else %}
            <button type="submit">Next</button>
        {% endif %}
      </div>
    </div>
  </div>
</form>
{% endblock %}