<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% block link %}{% endblock %}
    {% block icon %}
        <link rel="icon" href="{% static 'img/health-checkup-icon-gym-icon-dumbbell-icon-TBsSWmBq.jpeg' %}">
    {% endblock %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet'
          type='text/css'>
    <link href="{% static 'css/messages.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- header -->
    {% include './header.html' %}
    <!-- end header -->
    <br><br>

    <!-- Show messages -->
    {% if messages %}
        {% for message in messages %}
             {% if message.tags %}
                  {% if message.tags == 'success' %}
                        <div class="text-center">
                          <div class="alert alert-success" role="alert">
                              <span class="closebtn" onclick="this.parentElement.style.display='none';" dir="rtl">&times;</span>
                                {{ message }}
                          </div>
                        </div>
                  {% elif message.tags == 'error' %}
                          <div class="alert alert-danger" role="alert">
                              <span class="closebtn" onclick="this.parentElement.style.display='none';" dir="rtl">&times;</span>
                                {{ message }}
                          </div>
                  {% endif %}
             {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Content code -->
    {% block full_content %}{% endblock %}
    <div class="container" style="text-align:left">
        {% block content %}
        {% endblock %}
    </div>
{% block script %}{% endblock %}
<script src="{% static 'js/logout.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>