{% extends '_base_payment.html' %}

{% load static %}

{% block script %}
{% endblock %}

{% block input_form %}
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required>

        <label for="number">Phone Number</label>
        <input id="number" type="text" name="phone_number" placeholder="Enter You Phone Number" required>

        <label for="name">Charge Amount</label>
        <input type="number" id="name" name="credit_student" placeholder="Enter the desired charge amount" required>

        <label for="code" class="label-code">Unique Code</label>
        <div class="wrapper">
            <input id="code" type="number" name="code_send" placeholder="Enter Your Code " required>
            <a class="get-code" name="result" id="send-link" href="{% url 'create_code' %}" type="submit">Get Code</a>
        </div>
        <div id="timer" class="hide help"></div>
            <br>
        <button type="submit" formmethod="post">Charge</button>
{% endblock %}